# Pair A/B Testing
## Ejercicio 1

Supongamos que estamos realizando un experimento para determinar si un nuevo diseño de anuncio (test group "ad") tiene un impacto significativo en la tasa de conversión en comparación con el diseño de anuncio anterior (test group "psa").

**Objetivo del ejercicio:** Comparar las tasas de conversión entre los grupos de prueba "ad" y "psa" para determinar si el nuevo diseño de anuncio es más efectivo en la conversión de usuarios.

## Pasos que debemos seguir:

1. **Preparación de los datos:**
   Asegúrate de que los datos estén limpios y listos para el análisis. Esto incluye la eliminación de datos faltantes y la verificación de la coherencia de los datos.

In [14]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [18]:
# Ponemos este código para que se vean el máximo de las filas 
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv('marketing_AB.csv')
df.head()

,Unnamed: 0,user id,test group,converted,total ads,most ads day,most ads hour
0,0,1069124,ad,False,130,Monday,20
1,1,1119715,ad,False,93,Tuesday,22
2,2,1144181,ad,False,21,Tuesday,18
3,3,1435133,ad,False,355,Tuesday,10
4,4,1015700,ad,False,276,Friday,14

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 588101 entries, 0 to 588100
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     588101 non-null  int64
 1   user id        588101 non-null  int64
 2   test group     588101 non-null  object
 3   converted      588101 non-null  bool
 4   total ads      588101 non-null  int64
 5   most ads day   588101 non-null  object
 6   most ads hour  588101 non-null  int64
dtypes: bool(1), int64(4), object(2)
memory usage: 27.5+ MB

In [5]:
df.columns

Index(['Unnamed: 0', 'user id', 'test group', 'converted', 'total ads',
       'most ads day', 'most ads hour'],
      dtype='object')

In [6]:
df.describe()

          Unnamed: 0       user id      total ads  most ads hour
count  588101.000000  5.881010e+05  588101.000000  588101.000000
mean   294050.000000  1.310692e+06      24.820876      14.469061
std    169770.279667  2.022260e+05      43.715181       4.834634
min         0.000000  9.000000e+05       1.000000       0.000000
25%    147025.000000  1.143190e+06       4.000000      11.000000
50%    294050.000000  1.313725e+06      13.000000      14.000000
75%    441075.000000  1.484088e+06      27.000000      18.000000
max    588100.000000  1.654483e+06    2065.000000      23.000000

In [7]:
# Creamos un bucle for para sacar los valores únicos de cada columna
for column in df.columns:
        print(f"Columna: {column}")
        print(df[column].unique())

        print("\n--------------------\n")

Columna: Unnamed: 0
[     0      1      2 ... 588098 588099 588100]

--------------------

Columna: user id
[1069124 1119715 1144181 ... 1038442 1496395 1237779]

--------------------

Columna: test group
['ad' 'psa']

--------------------

Columna: converted
[False  True]

--------------------

Columna: total ads
[ 130   93   21  355  276  734  264   17  142  209   47   61   40   20
    9   64   26  248   73  281  389  136   87   46    3  114  175  119
  313   89  364   24  112   49   27  274   45  177   90  265   71   31
  588   56  108  103  239   63   66  111   74   14  258 1057  137  131
  124   13   37  738  199  211   98   19  127   18  126  197   77   60
   95   97   22  117   41   57  593   28   85   53   43  133   33 1328
    7    6   62  247  464   99  233  139  407  323   76  395  166   34
  246  653  122   32  386   44  138  109   39  159   30   59  421  446
  555  105  128  310  163   10  290  164   79  312   16  161  505  640
  118  266  456   80  100  983   36    1    5  463  720   52  442  334
 1056  270  240  194  271  489  115  180  241   15  154  120   29  107
  176    8  146  121   50   69  297   35   78  170  214   81    2   38
  681  733   23  157  153  135   88  167    4   58  195  318   48   83
   96  392  371   91   68  427  516  249   54   11   25  171   55  403
  140  455  222   82  168  225  633  116  188  423   70  110  311  174
  208   92  172  657  260  191  173  245  150   84  134  526  607   75
  302   94  294  288   42  123  179  160   51  190  221  216  347  102
   65 1632  106  125  317  206  350  202  148  145  525  445  309  186
  486  380  178  321  205   86  149  413   67  587  351  147  144  470
  387  335  235  306  230  535  181  401  394  568  155  326  308  617
   12  655  158  375  237  104  218  215  345  141  253   72  193  700
  400 1015  360 1128  292  151  224  779  213  304  220  207  261  536
  515  184  152  232  490  228  532  790  203  285  234  429  325  231
  101  393  129  352  182  332  307  378  226  642  385  187  452  132
  504  143  198  243  269  447  287  468  338  185  728  169  113  991
  514  554  571  192  298  242  542  698  196 1173  183  466  156  257
  189  305  438  212  461  286  252  521  162  354  353  857  315  272
  284  262  374  283  675  566  582  399  411  368  404  280  487  602
  443  950  362  523  301  259  165  376  219  679  358 1021  251  282
  329 1135  383  761  481  291  594  688  328  238  327  441  430  434
  300  416  357  275  558  448  499  279  546  359  426  817  433  610
 1010  343  341  420  474  622  654  348  459  507  250  388  592  200
  322  227  802  295  467  217  806  414  599  612  316  415  631  256
  606  278  320 1011  236  223  739  444  396  758 1020  370  947  277
  485  412  436  477  273  541  244  825  613  263  204  342  372  805
  356  267  820  852  408  809  268  324  379  527  336  503  465  451
  432  480  719  771  629  473  254  552  484  603  210  373  417  425
  418  584  391  479  938  361  424  497 1129  687  303  369  569  628
  563  330  201  670  564  586  842  337  339  314  630  491  731  340
  382  296  492  502  601  437  509  346  494  804  501  540  595  578
  920  493  794  293  518  440  652  598  724  344  764 1680  641  365
 1100  410  907  333  255  506  331  845  435  742  496  667  705  689
  457  591  495  551  608  319  367  402  619  299  647  522 1229  562
 1398  229  377  634  478  703  662  556  462  483  431  405  710  636
  775  539  557  574  714  609  524  449  476  544  545  512  428  678
  406  797  639  702 1016  453  482  575  289  745  381  397  621  909
  585  580  409 1491  727  926  711  815  419 1302  735 1035  517  716
  789 1014  572  363 1414  643  627  645  753  533  887  384  704  709
  460  854 1267  663  488  439  547  840  472  510  863  520  366  781
  769  511  744  398  743  646  349  865  538  422  660 1003  615  549
  894  500  713  723  915 1321 2065 1354  722  561 1101  519  560  471
 1196  665  828  573  961  799  651  454  597  648  934  620  690 1778
  616  637  624  390  530  772  604  656  760  786  469  649  925  798
  548  611  841  625  691  888  932  695  785 1146  891  883  581  911
  565  638  550  583  800  664 1391  699  827  791  579  955  901  570
  763  672  812  669  788  596  458  986 1232 1032  908  873  923  567
  730  498  792  543  759  885  858  869  508  475  450  659  559  712
  684  904  680  706  921  673  952  808  729]

--------------------

Columna: most ads day
['Monday' 'Tuesday' 'Friday' 'Saturday' 'Wednesday' 'Sunday' 'Thursday']

--------------------

Columna: most ads hour
[20 22 18 10 14 13 19 11 12 16 21  3 23  4  8  0  2 15  1  6 17  7  9  5]

--------------------

In [8]:
# Buscamos si hay algún nulo en el DataFrame 
nulos = df.isnull().sum() 
print("\nConteo de valores nulos por columna:") 
print(nulos)

Conteo de valores nulos por columna:
Unnamed: 0       0
user id          0
test group       0
converted        0
total ads        0
most ads day     0
most ads hour    0
dtype: int64

In [9]:
# Identificar y contar filas duplicadas 
duplicados = df.duplicated().sum() 
print("\nNúmero de filas duplicadas:") 
print(duplicados)

Número de filas duplicadas:
0

In [11]:
# Quitamos 'Unnamed: 0'
df = df.drop(columns = ['Unnamed: 0'])

In [12]:
# Imprimimos sólo 2 filas para ver si ha resultado el cambio 
df.head(2)

   user id test group  converted  total ads most ads day  most ads hour
0  1069124         ad      False        130       Monday             20
1  1119715         ad      False         93      Tuesday             22

# 2. **Definición de las hipótesis:**
   Plantea una `hipótesis nula (H0)` y una `hipótesis alternativa (H1)` para el experimento (en este caso, ya están definidas):

   - **Hipótesis nula (H0):** No hay diferencia significativa en la tasa de conversión entre los grupos de prueba "ad" y "psa".
   - **Hipótesis alternativa (H1):** Existe una diferencia significativa en la tasa de conversión entre los grupos de prueba "ad" y "psa".

_ _ _

1. **Hipótesis nula (H0):** Esta hipótesis establece que no hay diferencia significativa en la tasa de conversión entre los grupos de prueba "ad" y "psa". 

2. **Hipótesis alternativa (H1):** La hipótesis alternativa sugiere que existe una diferencia significativa en la tasa de conversión entre los grupos "ad" y "psa".

En resumen, estamos evaluando si el nuevo diseño de anuncio ("ad") tiene un impacto significativo en la tasa de conversión en comparación con el diseño anterior ("psa").

# 3. **Cálculo de la tasa de conversión:**
   - Para el grupo "ad", la tasa de conversión es el número de usuarios convertidos dividido por el número total de usuarios en ese grupo.
   - Realiza el mismo cálculo para el grupo "psa".

NOTA: La `tasa de conversión` (Conversion Rate en inglés, CR) es un indicador clave en marketing y ventas que mide el porcentaje de visitantes de un sitio web u otros receptores de un mensaje de marketing que realizan la acción deseada, como realizar una compra, completar un formulario o suscribirse a un boletín informativo. Se calcula dividiendo el número de conversiones por el número total de visitantes o receptores.

In [17]:
# Creamos una función
def calcular_tasa_conversion(grupo):
  """
  Calcula la tasa de conversión para un grupo específico.

  Args:
    grupo: El nombre del grupo ("ad" o "psa").

  Returns:
    La tasa de conversión como un porcentaje.
  """
  # Filtra el DataFrame para obtener solo el grupo especificado
  df_grupo = df[df["test group"] == grupo]

  # Cuenta el número de conversiones en el grupo filtrado
  conversiones = df_grupo["converted"].sum()

  # Suma el número total de usuarios en el grupo filtrado
  total_usuarios = df_grupo["total ads"].sum()

  # Calcula la tasa de conversión como porcentaje
  tasa_conversion = (conversiones / total_usuarios) * 100

  # Devuelve la tasa de conversión calculada
  return tasa_conversion

# Tasa de conversión para el grupo "ad"
tasa_conversion_ad = calcular_tasa_conversion("ad")
print(f"Tasa de conversión para el grupo 'ad': {tasa_conversion_ad:.2f}%")

# Tasa de conversión para el grupo "psa"
tasa_conversion_psa = calcular_tasa_conversion("psa")
print(f"Tasa de conversión para el grupo 'psa': {tasa_conversion_psa:.2f}%")

Tasa de conversión para el grupo 'ad': 0.10%
Tasa de conversión para el grupo 'psa': 0.07%

# 4. **Prueba de hipótesis:**
   Utiliza una prueba estadística, como la prueba t de Student o la prueba chi-cuadrado, para comparar las tasas de conversión entre los grupos "ad" y "psa".

In [16]:
# Suponiendo que el DataFrame se llama "df"
contingency_table = pd.crosstab(df["test group"], df["converted"])
# Crea una tabla de contingencia para mostrar la distribución de conversiones por grupo
print(contingency_table)

chi2_stat, p_value, dof, expected = chi2_contingency(contingency_table.values)
# Calcula el chi-cuadrado, p-valor, grados de libertad y valores esperados
print(f"Chi-squared statistic: {chi2_stat:.2f}")  # Imprime el estadístico chi-cuadrado
print(f"p-value: {p_value:.4f}")  # Imprime el p-valor

converted    False   True
test group
ad          550154  14423
psa          23104    420
Chi-squared statistic: 54.01
p-value: 0.0000

# 5. **Análisis de resultados:**
   - Si el valor p es menor que un umbral predefinido (por ejemplo, 0.05), rechazamos la hipótesis nula y concluimos que hay una diferencia significativa en las tasas de conversión entre los grupos.
   - Si el valor p es mayor que el umbral, no podemos rechazar la hipótesis nula y concluimos que no hay evidencia suficiente para afirmar que hay una diferencia significativa.

`Con lo que rechazamos la hipótesis nula y concluimos que existe una diferecia significativa`.